/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: black;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1 {
    font-family: "Open Sans";
    margin: 0;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 17px;
    font-weight: 100;
    color: #4b4b4b;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   ESAT's custom styles
   ========================================================================== */

#goUp {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    background: #fff url(../img/flecha.png) center center no-repeat;
    border: 1px solid #ccc;
}

#socialGroup {
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    right: 20px;
    top: 120px;
    z-index: 11;
}

#socialGroup button {
    display: block;
    margin-top: 17px;
    font-size: 15px;
    padding: 15px 15px 15px 30px;
    position: relative;
    min-width: 125px
}

#socialGroup button i {
    margin-right: 20px;
    margin-left: -20px;
    font-size: 19
}

#socialGroup button:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 18px;
    bottom: 18px;
    left: 45%;
    border-left: 1px dotted #444;
}


/* Menu Superior */

header {
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    height: 103px;
    z-index: 50;
}

header nav {
    font-family: 'Open Sans', sans-serif;
    color: #989898;
    font-weight: 600;
    font-size: 12px;
    padding-top: 27px;
    background-color: #fff;
    letter-spacing: 1.5;
    box-shadow: 0px 8px 16px -10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 8px 16px -10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 8px 16px -10px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 8px 16px -10px rgba(0, 0, 0, 0.35);
}

.nav-up {
    top: -100px;
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0);
}

header nav a,
header nav a:link {
    color: #989898;
    text-decoration: none;
}

header nav a:visited {
    color: #989898;
}

header nav a:hover {
    color: #4b4b4b;
}

header nav a:active {
    color: #4b4b4b;
}

.nav>li>a {
    padding: 10px 9px;
}

header nav li.active > a {
    padding-bottom: 4px;
    border-bottom: 2px solid #f6decb;
    color: #4b4b4b;
}

header nav li,
header nav li a {
    -webkit-transition: all 1s;
    transition: all 0.2s;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#btn-RESERVA {
    position: absolute;
    right: 25px;
    top: 22px;
}

.navbar {
    min-height: 100px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 19px 15px;
    margin-top: -5px;
    margin-right: 25px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
}

.navbar-default .navbar-toggle {
    border-color: #C5C5C5;
}

.btn-group-lg>.btn,
.btn-lg {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5;
    color: #4b4b4b;
    font-weight: 600;
    border-radius: 32px;
    padding: 18px 50px 18px 49px;
    -webkit-transition: all 0.3s;
    transition: all 0.2s;
}

.list-inline>li {
    padding-right: 10px;
    padding-left: 10px;
}


/*Botones apartados*/

.btnBlanco {
    color: #e1e1e1;
    background-color: rgba(255, 255, 255, 0);
    border-color: #e1e1e1;
}


/*Contenedor apartados*/

ul.content {
    width: 100%;
    margin-bottom: 0;
    height: auto;
    margin-top: 100px;
}

ul.content > li {
    display: block;
    position: relative;
    /*    min-height: 100%;*/
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

ul.content li h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: 300;
    color: #e1e1e1;
    font-size: 42px;
}

#apartado4 {
    padding-bottom: 0;
    padding-top: 0;
}

.apartadosVideo {
    min-height: 100%;
}

.timeline-item {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#apartado4 .owl-carousel img {}

ul.content li p.lead {
    font-weight: 100;
    color: #e1e1e1;
    font-size: 21px;
    padding-bottom: 20px;
}

ul.content li h1.oscuro,
ul.content li p.oscuro {
    color: #4b4b4b;
}

.blanco,
.blanco p {
    color: #fff;
}

.scroller {
    background: #CCC;
    box-shadow: inset 0 0 5px 0 black;
    height: 1px;
    overflow: hidden;
}

.scroller h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

ul.content li.first {
    background: url('../img/dirty_old_shirt.png');
}

ul.content li.second {
    background: url('../img/navy_blue.png');
}

ul.content li.third {
    background: url('../img/bg1.jpg');
    background-size: cover;
}

ul.content li.fondoEscuela {
    background: url('../img/bg2.jpg');
    background-size: cover;
}

ul.content li.fondoFuturo {
    background: url('../img/bg3.jpg');
    background-size: cover;
}

ul.content li.fondoContacto {
    background-color: #fefdf7;
}

ul.content li.fondoVideo {
    background-color: #000;
}

ul.content li.fondoApartado4 {
    background-color: #bbe4df;
}


/*MODAL*/

.modal-contanier {
    display: none;
    width: 80%;
}

.custombox-modal-wrapper {
    text-align: left;
}

.custombox-modal-wrapper h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.custombox-modal-wrapper button {
    margin-bottom: 50px;
}

#modal-formulario {
    text-align: left;
}

#modal-formulario .custombox-modal-blur {}


/****** VIDEO **********************/

video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    /*background: url("../img/video_desarrolladores.png") no-repeat;*/
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.video-cont {
    overflow: hidden;
}

.stopfade {
    opacity: 1;
}

.video-controls {
    font-weight: 100;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    /* margin-right: 35px; */
    right: 50%;
    -webkit-transform: translate(35px, -35px);
    -ms-transform: translate(35px, -35px);
    transform: translate(35px, -35px);
}

.video-controls button {
    display: block;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, -8.77);
    -webkit-transition: .3s all;
    transition: .3s all;
    width: 100%;
}

.video-controls button:hover {
    opacity: 0.6;
}

.itemAnimaInView {
    opacity: 0;
}

button img {
    /*
width: 100%;
height: 100%;
*/
    position: relative;
    top: 33%;
}

#bgvid {
    background-color: white;
}


/*Centramos contenido de los apartados */

ul.content .container {
    /*  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    */
}

.resetHorizontal {
    margin-right: 0;
    margin-left: 0;
}


/*Galeria OWL*/

#apartado3 .owl-stage-outer {
    border-radius: 100%;
}

#apartado3 .owl-theme .owl-dots .owl-dot.active span,
#apartado3 .owl-theme .owl-dots .owl-dot:hover span {
    background: #b49378;
}

#apartado3 .owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

#apartado3 .bordeOwl {
    height: auto;
    width: auto;
    border: 1px solid black;
    padding: 20px;
}

#apartado3 .owl-carousel {
    margin-top: -85px;
}

#apartado3 .owl-carousel .owl-stage-outer {
    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow: 0 0 0 16px #e9e2b0, 0 0 0 20px white;
    -webkit-box-shadow: 0 0 0 16px #e9e2b0, 0 0 0 20px white;
    -moz-box-shadow: 0 0 0 16px #e9e2b0, 0 0 0 20px white;
    -o-box-shadow: 0 0 0 16px #e9e2b0, 0 0 0 20px white;
}

#apartado3 .owl-theme .owl-controls {
    margin-top: 40px;
}

.sombra-circulo {
    border-radius: 50%;
    box-shadow: 25px 25px 0px 0px #5e9b9a;
}

#apartado4 .owl-controls {
    margin-top: 25px;
    margin-bottom: 25px;
}

#apartado4 .owl-theme .owl-dots .owl-dot.active span,
#apartado4 .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    box-shadow: 0 0 0 4px #bbe4df, 0 0 0 6px white;
    -webkit-box-shadow: 0 0 0 4px #bbe4df, 0 0 0 6px white;
    -moz-box-shadow: 0 0 0 4px #bbe4df, 0 0 0 6px white;
    -o-box-shadow: 0 0 0 4px #bbe4df, 0 0 0 6px white;
}

#apartado4 .owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

#apartado4 .owl-theme .owl-dots .owl-dot {
    margin-right: 70px;
}

#apartado4 .owl-dot {
    position: relative;
}

#apartado4 .owl-dot:before {
    cursor: default;
    pointer-events: none;
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 72px;
    /* top: 18px; */
    /* bottom: 18px; */
    left: 22px;
    /* border-left: 1px dotted #444; */
    background: url(../img/timeline-dots.png) center center no-repeat;
}

#apartado4 .owl-dot:last-child:before {
    background: none;
}


/*Formulario*/

.form-group-lg .form-control {
    font-family: "Open Sans";
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
    background-color: #f9f8f2;
    border: none;
    border-radius: 2px;
    color: #4c4c4c;
    padding: 18px;
}

.form-group {
    font-family: "Open Sans";
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
    color: #4c4c4c;
}

.help-block,
.with-errors {
    font-size: 14px;
}

.btn-izq,
.btn-der {
    font-family: "Open Sans";
    text-align: center;
    font-size: 17px;
    color: #4b4b4b;
    height: 120px;
    padding-top: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-izq {
    background-color: #bbe4df;
}

.btn-izq:hover {
    background-color: #9ad1ca;
}

.btn-der {
    background-color: #e1e1e1;
}

.btn-der:hover {
    background-color: #cccccc;
}

/*Cookiebar*/


#cookie-bar p {
   color: #ccc;
}


/*Tipografias*/

@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?75130210');
    src: url('./font/fontello.eot?75130210#iefix') format('embedded-opentype'), url('./font/fontello.woff?75130210') format('woff'), url('./font/fontello.ttf?75130210') format('truetype'), url('./font/fontello.svg?75130210#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.custom-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


/*Custombox reset*/

.custombox-open,
.custombox-open body {
    /*
    overflow-y: hidden;
    height: auto;
*/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.push-top {
    margin-top: 40px;
}

.push-bottom {
    margin-bottom: 148px;
}


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*Alineación vertical de aàrtados para Bootstrap*/

.vertical-align {
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    */
}

.fluid-container .row {
    margin-right: 0px;
    margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 0px;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

button:focus {
    outline: 0;
}


/*MENU*/

@media only screen and (max-width: 1163px) {
    nav {
        margin-left: -220px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    header nav {
        letter-spacing: 0;
    }
    .nav>li>a {
        padding: 10px 5px;
    }
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    header nav ul {
        display: none;
    }
    .video-controls {
        /*        top: 64%;*/
        box-shadow: 0px 0px 36px 30px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 36px 30px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 36px 30px rgba(0, 0, 0, 0.75);
        -o-box-shadow: 0px 0px 36px 30px rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(0, 0, 0, 0.8);
    }
    ul.content li h1 {
        font-size: 38px;
        line-height: 1.0;
    }
    ul.content li p {
        font-size: 15px;
    }
    ul.content li p.lead {
        font-size: 21px;
        line-height: 1.2;
    }
    ul.content > li {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 80px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #socialGroup,
    #goUp {
        display: none;
    }
    nav {
        margin-left: 0;
    }
    #btn-RESERVA {
        right: 105px;
    }
    .nav>li>a {
        border-bottom: 2px solid #fff;
        padding-bottom: 12px;
    }
    header nav li.active > a {
        border-bottom: 2px solid #f6decb;
        padding-bottom: 12px;
    }
    .video-controls {}
    #apartado4 .owl-theme .owl-dots .owl-dot {
        margin-right: 53px;
    }
    ul.content > li > .container {}
    .img-responsive-centered {
        margin: 0 auto;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}